{% extends "layout/main.twig" %}

{% block content %}

<h2>{{ title }}</h2>

<p>{{ project.description }}</p>
<p>Créé le : {{ project.created_at }}</p>

<h3>Mots de passe du projet</h3>

<a href="{{ url('/projects/' ~ project_id ~ '/passwords/create') }}">
    Ajouter un nouveau mot de passe
</a>

{% if passwords is empty %}
    <p>Aucun mot de passe associé à ce projet.</p>
{% else %}
<table>
    <tr>
        <th>Type</th>
        <th>Label</th>
        <th>Champs</th>
        <th>Action</th>
    </tr>

    {% for p in passwords %}
    <tr style="background: {{ p.type_color }}">
        <td>{{ p.type_label }}</td>
        <td>{{ p.label }}</td>

        <td>
            {% for key, value in p.extra %}
                <strong>{{ key }}</strong> : {{ value }}<br>
            {% endfor %}
        </td>

        <td>
            <a href="{{ url('/projects/' ~ project_id ~ '/passwords/' ~ p.id ~ '/edit') }}">Modifier</a>

            <form action="{{ url('/projects/' ~ project_id ~ '/passwords/' ~ p.id ~ '/delete') }}" method="POST">
                <button type="submit" onclick="return confirm('Supprimer ?')">Supprimer</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
